body {
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .success {
    color: black;
    background: lightgreen;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .error {
      color: black;
      background: rgba(252, 77, 77, 0.712);
      font-size: 20px;
      border-style: solid;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
    }
  
    ul {
      width: 300px;
    }
    li {
        padding-left: 1.28571429em;
        text-indent: -1.28571429em;
    }
    #url {
      color: blue;
      text-decoration: underline;
    }